<core:FragmentDefinition
  xmlns="sap.m"
  xmlns:core="sap.ui.core">
  <ActionSheet
    placement="Top">
    <buttons>
      {{#getBoActionKeys currentBO.boActions}}
            {{body}}
        {{/getBoActionKeys}}
    </buttons>
  </ActionSheet>
</core:FragmentDefinition>