<mvc:View xmlns:core="sap.ui.core"
	xmlns:l="sap.ui.layout"
	xmlns:mvc="sap.ui.core.mvc"
	xmlns="sap.ui.commons"
	xmlns:m="sap.m"
	controllerName="c4c.table-{{#toLowerCase currentBO.selectedBO}}{{/toLowerCase}}.remote.view.table"
	xmlns:html="http://www.w3.org/1999/xhtml"
	class="tableView">
<m:Page
     title="{{#getI18n currentBO.titleName}}{{/getI18n}}"
     showNavButton="true"
     class="pageEl table-pattern-page"
     navButtonPress="handleNavButtonPress">
    <m:content>	
        <m:VBox>
            <m:Table
                class="table"
                id="c4cTable"
        	    inset="false" 
        	    growingScrollToLoad="false"
                growing="false"
                includeItemInSelection="true"
                mode="{tableModel>/mode}"
                growingThreshold="{tableModel>/growingThreshold}"
                items="{
                    path: '/boCollection',
                    filters: []
                }"
                >
                
             <m:columns>
                {{#eachColumns currentBO.columns}}
                    {{body}}
                {{/eachColumns}}
            </m:columns> 
            
            <m:infoToolbar>
                <m:Toolbar visible="{tableModel>/showInfoBar}" active="true" press="toolBarPressed" tooltip="{i18n_Static>starterTableTemplate.table.infoToolbar.tooltip}">
                    <m:Label text="{tableModel>/infoBarLabel}"></m:Label>
                </m:Toolbar> 
            </m:infoToolbar>
            
            <m:headerToolbar>
                <m:Toolbar
                 	class="tableHeader">
                    <m:ComboBox id="queryCombobox" class="tableComboBox" selectionChange="queryChanged" selectedKey="{{#getDefaultQueryNameKey currentBO.queries}}  {{/getDefaultQueryNameKey}}">
                        {{#getQueryNameKeys currentBO.queries}}  {{body}} {{/getQueryNameKeys}}
                    </m:ComboBox>
                    <m:ToolbarSpacer></m:ToolbarSpacer>
                    <m:Button class="filterBtn" icon="sap-icon://drop-down-list" press="openDialog" tooltip="{i18n_Static>starterTableTemplate.table.settings.btn}" enabled="{tableModel>/filterBtnEnable}"></m:Button>
                </m:Toolbar> 
            </m:headerToolbar>
            
            
            <m:items >
              <m:ColumnListItem>
                <m:cells  >
                    {{#eachCells currentBO.columns}}
                       {{body}}
                    {{/eachCells}}
                </m:cells>
              </m:ColumnListItem>
            </m:items>
            
        	</m:Table>
        	
        	<m:VBox class="table-trigger">
        	    <m:Text class="trigger-text" text="More"></m:Text>
        	    <m:Text class="trigger-description" text=""></m:Text>
        	    <m:BusyIndicator visible="{tableSettingsModel>/showTriggerBusyIndicator}" class="table-trigger-bi"></m:BusyIndicator>
        	</m:VBox>
    	</m:VBox>
    	<m:BusyIndicator visible="{tableSettingsModel>/showBusyIndicator}" class="table-bi"></m:BusyIndicator>
    </m:content>
    <m:footer>
        	<m:Toolbar
        	    class="tableFooter">
        	     <m:content>
                	<m:ToolbarSpacer></m:ToolbarSpacer>
                	<m:Button class="addRecordBtn" icon="sap-icon://add" press="handleCreateRecord" tooltip="{i18n_Static>starterTableTemplate.table.addRecord.btn}"></m:Button>
            	 </m:content>
        	</m:Toolbar>
	</m:footer>
</m:Page>

</mvc:View>