<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/resources/sap-ui-core.js"
			id="sap-ui-bootstrap"
			data-sap-ui-libs="sap.m,sap.ui.commons, sap.ui.table, sap.ui.ux3"
			data-sap-ui-theme="sap_bluecrystal"
			data-sap-ui-xx-bindingSyntax="complex">
	</script>
</head>

<body id="body" class="sapUiBody">			
    <div id="content" class="container"></div>
    
    <script>
    jQuery.sap.registerModulePath("c4c.create-{{currentBO.selectedBO}}.local", '');
    jQuery.sap.registerModulePath("c4c.create-{{currentBO.selectedBO}}.remote","");
    jQuery.sap.registerModulePath("c4c.locale","/i18n");
    
    var oComp = sap.ui.getCore().createComponent({
                 name: "c4c.create-{{currentBO.selectedBO}}.local",
                 id: "table",
                 settings: {appTitle: "Hello World 1"}
        });
    var oContainer = new sap.ui.core.ComponentContainer("container1", {
        name: "tableContainer",
        settings: {text: "Hello World again"},
        component: oComp
    }).addStyleClass("container1");
    
    
    
    oContainer.placeAt("content");
    </script>
</body>



</html>