<Module>
	<ModulePrefs title="{{projectName}}" description="{{projectName}}">
	<Require feature="sap-xhrwrapper" />
  	     <Require feature ="sap-context"/>
         <Require feature="gadgetprefs"/>        
         <Require feature="sap-menu"/>
         <Require feature="sap-popup"/>
         <Require feature="sap-busy-indicator"/>
         <Require feature="sap-site-hierarchy"/>
         <Require feature="sap-theme"/>
         <Require feature="sap-navigation"/>
																	
	</ModulePrefs>
	
	<!-- ModuleConfig AllowedHeaders="DemoHeader1,DemoHeader2" /--> 

	<Content type="html" view="default, authoring, consumption, mobile, preview" href="index.html"></Content>
</Module>